<div class="login-container">
    <div class="box">
      <h2>Update Password</h2>
      <input [(ngModel)]="user.password" name="password" class="input-field" placeholder="Password" type="password" [pattern]="passwordPattern" #password="ngModel" required />
      <div *ngIf="password.invalid && password.touched">
        <p>Password is required and must contain at least 6 characters and a number</p>
      </div>
      
      <button (click)="update()" class="submit-button" [disabled]="password.invalid">Login</button>
    </div>
  </div>
  